extends layout

block content
  .w3-container
    h2 Video List
    ul.w3-ul.w3-card-4
      each val in data
        li.w3-bar(onclick='selectvideo(' + val.id + ')' style="cursor: pointer")
          img.w3-bar-item.w3-circle.w3-hide-small(src="/images/play-button.webp" style="width:85px")
          .w3-bar-item
            span.w3-large=val.title
            br
            span=val.description
