doctype html
html
  head
    title= 'Video'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    script(defer="" src="/javascripts/face-api.min.js")
    script(defer="" src="/javascripts/script.js")
  body
    block content
