doctype html
html
  head
    title= 'Video'
    link(rel='stylesheet', href='/stylesheets/quiz.css')
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    script(defer="" src="/javascripts/quiz.js")
  body

    //- div=question[0].question
    if question.length
      input(type="hidden" id="quest" name="question" value=question)
      div#quiz
      input(id="nameinput" name="fullname" value="" placeholder="Enter your name")
      div(style="padding:20px 0")
        button(id="submit") Submit
      div#results
    else
      h2.w3-red No Data Found