extends layout

block content
   
    video#video(width="720" height="480")
        source(src="/videos/"+video.video type="video/mp4")
        | Your browser does not support HTML5 video.
    div
        button.w3-button.w3-green.w3-margin-right(onclick='start()') Start
        //- button.w3-button.w3-orange.w3-margin-right(onclick='pause()') Pause
        //- button.w3-button.w3-teal.w3-margin-right(onclick='resume()') Resume
        form(method="POST" id="myForm" action="/questions")
            input(name="data" id="myHiddenField" value="Hi" type="hidden")
            button.w3-button.w3-red.w3-margin-right(onclick='stop()' type="button") Stop
    hr
    video#cam(width="480" height="320" autoplay muted style="position: absolute")