body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

video {
  outline: unset;
}
#cam,
canvas{
  position: fixed!important; 
  bottom: 10px;
  right: 0;
}